<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Reset Password</title>


</head>

<body>
    <div class="card text-center m-5" style="width: 25rem; min-height: 23rem; max-height: 30rem;">
        <div class="card-body">
            <br>
            <h4 class="card-title">FORGOT USERNAME AND PASSWORD</h4>
            <hr>
            <div class="card-description">Your credentials will be e-mailed to you.</div>
            <div class="form-signin mt-2">
                <div class="form-group has-feedback">
                    <i class="fa fa-envelope icon"></i>
                    <input type="text" id="email" class="form-control border" #email (input)="onEmailInput(email.value)" placeholder="Enter your email" required autofocus>
                </div>
                <p *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</p>
                <p *ngIf="successMessage" style="color:green;">{{ successMessage }}</p>

                <br>
                <button class="btn active ml-2" type="submit" (click)="onForgotPassword()">SUBMIT</button><br>
            </div>
            <a href="">Return to login page</a>
        </div>
    </div>
</body>

</html>