.heading {
    color: purple;
    text-decoration: solid;
    text-shadow: 1px 1px 2px #000000;
}
h3 {
    font-weight: 700;
}
.card {
    background : linear-gradient(to top, rgb(240, 232, 232) 0% , rgb(236, 186, 186) 100%);
    cursor: pointer;
}
input {
    box-shadow: 1px 1px 2px #000000;
}
select {
    box-shadow: 1px 1px 2px #000000;
}
.btn {
    box-shadow: 1px 1px 2px #000000;
}