@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    background : linear-gradient(to bottom, rgb(238, 219, 227) 0%, rgba(182, 177, 180, 0.788) 100%);
    padding-bottom : 180px;
}

    h3 {
        color: rgb(27, 22, 22);
    }
 
.icon {
    padding: 0px;
    color: white;
    min-width: 20px;
}
#card-button {
    background: linear-gradient(to top, rgb(141, 39, 102) 0%, rgb(100, 3, 92) 100%);
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
#card-button2 {
    background: linear-gradient(to top, rgb(141, 39, 102) 0%, rgb(100, 3, 92) 100%);
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}



