<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Ticket</title>

</head>

<body>
    <nav class="navbar navbar-dark bg-custom-1">
        <a class="navbar-brand" href="#">
            <img src="ngr.jpg" width="150" height="50" class="d-inline-block rounded align-top mx-3" alt="">
            <span class="toolbar-heading"> Travel Portal</span>
        </a>
        <button class="btn btn-outline-light my-2 my-sm-0" id="submit" type="submit">SIGN OUT</button>
    </nav>
    <div class="container-fluid p-0">

        <!-- Bootstrap row -->
        <div class="row" id="body-row">
            <!-- Sidebar -->
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
                <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
                <!-- Bootstrap List Group -->
                <ul class="list-group">
                    <!-- Separator with title -->
                    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                        <small>MAIN MENU</small>
                    </li>
                    <!-- /END Separator -->
                    <!-- Menu with submenu -->
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-dashboard fa-fw mr-3"></span>
                            <span class="menu-collapsed">Dashboard</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-tasks fa-fw mr-3"></span>
                            <span class="menu-collapsed">My Tickets</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <a href="#" class="bg-dark list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-plus fa-fw mr-3"></span>
                            <span class="menu-collapsed">Add new ticket</span>
                        </div>
                    </a>
                    <!-- Separator without title -->
                    <li class="list-group-item sidebar-separator menu-collapsed"></li>
                    <!-- /END Separator -->
                    <a href="#" class="bg-dark list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-question fa-fw mr-3"></span>
                            <span class="menu-collapsed">Help</span>
                        </div>
                    </a>

                </ul>
                <!-- List Group END-->
            </div>
            <!-- sidebar-container END -->

            <!-- MAIN -->
            <div class="col">
                <div class="card  mx-auto mt-2 text-center" style="width: 45rem; height: 43rem; border-color: black;">
                    <div class="card-body">
                        <h4 class="card-title">Create New Ticket</h4>
                        <div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    Request Type:
                                    <select id="travelrequest" class="form-control">
                                        <!-- <option selected>Request </option> -->
                                        <option>Travel</option>
                                        <option>Hotel</option>
                                        <option>Visa</option>
                                        <option>Work Permit</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    Priority:
                                    <select id="priority" class="form-control">
                                        <!-- <option selected>Request </option> -->
                                        <option selected>Normal</option>
                                        <option>Urgent</option>
                                        <option>Immediate </option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    Travel City:
                                    <select id="travelcity" class="form-control">
                                        <!-- <option selected>Request </option> -->
                                        <option selected>Chikago</option>
                                        <option>Delhi</option>
                                        <option>Mumbai </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    From Location:
                                    <select id="fromlocation" class="form-control">
                                        <option selected>Delhi</option>
                                        <option>Mumbai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    Travel Start Date:
                                    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                        <input placeholder="Select date" type="date" id="startdate" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    Travel End Date:
                                    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                                        <input placeholder="Select date" type="date" id="enddate" class="form-control">

                                    </div>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    Passport No:
                                    <input type="text" class="form-control" id="passport" placeholder="Passport No.">
                                </div>
                                <div class="form-group col-md-6">
                                    Expected Duration of Travel:
                                    <input type="text" class="form-control" id="project" placeholder="Expected Duration">
                                </div>

                            </div>
                            <div class="form-row">
                                Expense Borne: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="custom-control custom-radio custom-control-inline col-md-3 ">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Nagarro</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline col-md-3">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Client</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    Travel Approver Name:
                                    <input type="text" class="form-control" id="passport" placeholder="Approver Name">
                                </div>
                                <div class="form-group col-md-6">
                                    Project Name:
                                    <input type="text" class="form-control" id="project" placeholder="Project Name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    Upper bound on allowed limit? If Yes,Please specify:
                                    <input type="text" class="form-control" id="limit" placeholder="Plaese mention if any...">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    Any additional details:
                                    <input type="text" class="form-control" id="details" placeholder="If any extra details...">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4"></div>
                                <div class="form-group col-md-4">
                                    <button class="btn active mx-auto" type="submit" id="card-button">SUBMIT</button>
                                </div>
                                <div class="form-group col-md-4"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- Main Col END -->

        </div>
        <!-- body-row END -->


    </div>
    <!-- container -->

</body>

</html>